{%extends 'base.html'%}
{%load static%}
{%block content%}
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y bg">
    
    <div class="container">
        {%include 'message.html'%}
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
                <a class="list-group-item {%if '/dashboard/' in request.path%}active{%endif%}" href="{%url 'dashboard'%}"> Dashboard </a>
                <a class="list-group-item {%if '/myorder/' in request.path%}active{%endif%}" href="{%url 'myorder'%}"> My Order </a>
                
                <!--<a class="list-group-item" href="#"> Edit Profile </a>-->
                <a class="list-group-item {%if '/change_password/' in request.path%} active {%endif%}" href="#">Change Password </a>
            </ul>
            <br>
            <a class="btn btn-light btn-block" href="{%url 'logout'%}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">login as : </strong>
                <span>{{user.first_name}}  {{user.last_name}}</span>
            </header>
            <div class="card-body">
                <div class="row"> 
                       <div class="col-md-6">
                            <div class="card">
                                <div class=" card-body">
                                     <h5 class="card-title"> Total Orders</h5>
                                     <h3>{{order_count}}</h3>
                                    <!--<a href="">view order</a>--> 
                                 </div>
                            </div>
                         </div>
                         <div class="col-md-6">
                            <div class="card" style="text-align: center;">
                                 <div class=" card-body">
                                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="user profile image" width="50" height="50" style="border-radius: 50%;">
                                    <p>{{user.email}}</p>
                                    <p>{{user.phone_number}}</p>
                                 </div>
                            </div>
                         </div>
                         
                    
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
           
            
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
{%endblock content%}